

h3{
	text-align:center;
}

.forming{
	text-align:center;
}

.under{
	margin-top: 80px
}


.col-lg-4.col-md-4.col-xs-12.desc.back{
	text-align: right;
}

.col-lg-4.col-md-4.col-xs-12.desc.login{
	text-align: center;
}

.col-lg-4.col-md-4.col-xs-12.desc{
	text-align: left;
}

.header-right{
	margin-left: 600px;
	margin-top:20px;
}



